<html>
<head>
<title>Data Visualization</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" media="screen">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css')}}">
</head>
<body>
 <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Outliers</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
        </div>
    </div>
</div>
<div class="well">
    <a href="Scatter.html" class="btn btn-default btn-lg btn-block">Scatter Plot</a>
    <a href="Block.html" class="btn btn-default btn-lg btn-block">Block level Plot</a>
</div>
</body>
</html>